* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 20px;
}


/* Welcome page  */

.welcome-page {
  max-width: 1170px;
  background-color: #f1f1f13c;
  border-radius: 7px;
  box-shadow: 0 0 20px #0000003c;
  padding: 20px;
  margin: auto; 
}

.welcome-page h2 {
  font-size: 4em;
  padding: 20px 0;
}

.welcome-page p {
  font-size: 23px;
}

/* list series */

.box-series {
  background-color: #262626;
  color: #fff;
  display: flex;
  position: relative;
  height: 100%;
  margin: 20px;
  border-radius: 7px;
}

.box-series img {
  display: block;
  width: 300px;
  height: 240px;
}

.box-series h3, p  {
  padding: 0 10px;
}

.box-series h3 {
  font-size: 2.4em;
  margin: 10px 0;
}

.box-series p {
  color: aliceblue;
  font-size: 20px;
}

.box-series a {
  background-color: #0c7ff2;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
  padding: 7px 10px;
  margin: 0 10px;
}

.box-series a:hover {
  color: #fff;
  text-decoration: underline;
}

.flex-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.like {
  display: block;
  margin: 13px;
}

/* container component */

.main-series {
  max-width: 1200px;
  margin: auto; 
}

.disponible, .noDisponible {
  margin: 10px 0 ; 
  padding: 4px;
  border-radius: 5px;
  width: 200px;
}

.disponible {background-color: #10e11055;}

.noDisponible {background-color: #ff000099;}

@media screen and (max-width: 920px) {
  .box-series {
    display: block;
    width: 90%;
    height: 100%;
    margin: 20px 0 ;
    padding: 10px;
  }

  .box-series img {width: 100%;}
  
}